body{
	color: #333;
	font-size: 16px;
}
iframe{
	width: 100%;
	border: none;
}
.cover{
	width: 1200px;
	margin: 0 auto;
}
i,span,div,img,a{
	vertical-align: top;
}
.button{
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
}

/*
 * 您的位置
 */
.position{
	margin-top: 20px;
    margin-bottom: 30px;
}
.position .nav{
	margin-top: 20px;
    line-height: 1;
}
.position .nav .position_first{
	color: #fa5400;
}
.position .nav .my_order{
	color: #fa5400;
}
.position .steps{
	text-align: center;
	margin-top: 20px;
	padding-bottom: 14px;
	padding-left: 59px;
    margin-bottom: 80px;
	position: relative;
}
.steps .step_cont{
	width: 124px;
	display: inline-block;
	float: left;
	position: relative;
}
.step_cont img{
	position: absolute;
	top: 4px;
    left: 31px;
}
.steps .step{
	width: 122px;
	height: 60px;
	font-size: 18px;
	line-height: 60px;
	border: solid 1px #e5e5e5;
	box-shadow: 3px 3px 3px #d1d1d1;
	margin-top: 20px;
}
.position .steps>.iconfont{
    font-size: 38px;
    color: #e5e5e5;
    line-height: 60px;
	display: inline-block;
    float: left;
    margin: 20px 16px;
    margin-bottom: 0;
}
.steps .transaction_closed{
    width: 1138px;
    text-align: initial;
    border: solid 1px #ddd;
    position: absolute;
    left: 0;
    bottom: -80px;
    padding-left: 60px;
    padding-bottom: 20px;
}
.transaction_closed::before{
  	width: 0;
  	height: 0;
  	content: '';
  	position: absolute;
	border: 15px solid transparent;
	border-bottom-color: inherit;
  	top: -30px;
  	left: 1075px;
}
.transaction_closed:after{
  	width: 0;
  	height: 0;
  	content: '';
	border: 14px solid transparent;
  	border-bottom: 14px solid #fff;
  	position: absolute;
  	top: -28px;
  	left: 1076px;
}
.transaction_closed .state{
	font-size: 20px;
	font-weight: 700;
	line-height: 1;
	margin-top: 23px;
	margin-bottom: 8px;
}
.transaction_closed .complete{
	width: 22px;
	height: 22px;
	font-size: 22px;
	color: #fa5400;
	vertical-align: initial;
	border: solid 2px #fa5400;
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
}
.transaction_closed a{
	font-size: 16px;
    line-height: 26px;
    vertical-align: initial;
	color: #666;
	text-decoration: underline;
}
.transaction_closed a:hover{
	text-decoration: underline;
}

/*
 * footer
 */
#bottomFrame{
	height: 260px;
	background: #f5f5f5;
}