body{
	color: #333;
	font-size: 16px;
}
iframe{
	width: 100%;
	border: none;
}
.cover{
	width: 1200px;
	margin: 0 auto;
}
/*
 * 背景
 */
.bg{
	width: 100%;
	height: 1390px;
	background: #f5f5f5;
	position: absolute;
	left: 0;
	top: 180px;
	z-index: -1;
}
/*
 * 主页信息
 * tab栏
 */
.home_page{
	margin-top: 40px;
	margin-bottom: 30px;
	position: relative;
}
.menu{
	width: 258px;
	color: #111;
	font-size: 20px;
	background: #fff;
	border: solid 1px #e5e5e5;
	margin-right: 20px;
}
.menu .active .iconfont{
	color: #fa5400;
}
.menu>li{
	border-bottom: solid 1px #e5e5e5;
}
.menu>li:last-child{
	border-bottom: none;
}
.menu dl{
	padding-top: 30px;
	padding-bottom: 20px;
}
.menu dd:hover{
	background: #f5f5f5;
}
.menu dl dt{
	line-height: 1;
	padding-left: 30px;
	margin-bottom: 25px;
}
.menu dl dd{
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
}
.menu dl dd:last-child{
	margin-bottom: 0;
}
.menu dl a{
	display: block;
	padding: 0 30px;
}
.menu dd .iconfont{
	width: 30px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 30px;
	color: #999;
    vertical-align: middle;
    display: inline-block;
	margin-right: 30px;
}
.menu dd .giant{
	font-size: 23px;
	line-height: 35px;
}
.menu dd .little_big{
	font-size: 28px;
    line-height: 32px;
}
.menu dd .big{
    font-size: 25px;
    line-height: 38px;
}
.menu dd .small{
	font-size: 38px;
    text-indent: -3px;
    line-height: 34px;
}
.menu dd .little_small{
	font-size: 36px;
    text-indent: -2px;
}
/*
 * 右侧内容
 */
.container{
	width: 918px;
	height: 1468px;
	border: solid 1px #d7d7d7;
	box-shadow: 0 0 3px #999;
	background: #fff;
	margin-bottom: 32px;
}
.tab{
	border-top: solid 1px #e5e5e5;
	border-bottom: solid 1px #e5e5e5;
	position: relative;
}
.tab .tab_item{
	width: 140px;
	height: 48px;
	text-align: center;
	font-size: 18px;
	line-height: 48px;
	border-right: solid 1px #e5e5e5;
	float: left;
}
/*
 * left动态计算
 */
.tab .border_top{
	width: 140px;
	height: 5px;
	background: #fa5400;
	position: absolute;
	top: -1px;
	left: 0;
}
.tab .border_bottom{
	width: 140px;
	height: 1px;
	background: #fff;
	position: absolute;
	bottom: -1px;
	left: 0;
}
.tab_content{
	padding-top: 20px;
}
.hide{
	display: none;
}
.hide.active{
	height: 1468px;
	display: block;
}
.hide .search_word{
	width: 212px;
	height: 20px;
	color: #666;
	line-height: 20px;
	border-bottom: 1px solid #999;
    padding: 8px 0;
	margin-left: 20px;
	margin-bottom: 30px;
}
.search_word .iconfont{
	width: 20px;
	font-size: 20px;
	margin-right: 10px;
	display: inline-block;
}
.search_word input{
	width: 180px;
	height: 20px;
	text-indent: 10px;
	color: #666;
	border: none;
	display: inline-block;
}

.actions,
.release{
	width: 104px;
	height: 38px;
	text-align: center;
	margin-right: 10px;
	position: relative;
}
.publish{
	width: 100%;
	height: 100%;
	line-height: 38px;
	color: #fff;
	background: #fa5400;
	display: block;
}
.publish:hover{
	color: #fff;
}
.publish .iconfont{
	width: 15px;
    text-indent: -3px;
    font-size: 20px;
    vertical-align: bottom;
    display: inline-block;
    margin-right: 8px;
}
.actions_cont{
	width: 100%;
	border-left: solid 1px #e5e5e5;
	border-right: solid 1px #e5e5e5;
	background: #fff;
	display: none;
	position: absolute;
	top: 39px;
	left: -1px;
	z-index: 2;
}
.actions_cont li a{
	height: 36px;
	line-height: 36px;
	border-bottom: solid 1px #e5e5e5;
	display: block;
	margin: 0 12px;
}

.state_list{
	margin: 0 20px 30px;
}
.state_item{
	margin-right: 30px;
}
.radio{
	width: 16px;
	height: 16px;
	vertical-align: top;
	display: inline-block;
	margin-right: 5px;
}
.radio .iconfont{
	width: 16px;
	height: 16px;
    font-size: 19px;
	line-height: 16px;
    text-indent: -1px;
	display: block;
}
.radio .unchecked:before{
	content: '\e6da';
    line-height: 18px;
	color: #e5e5e5;
}
.radio .checked:before{
	content: '\e60d';
	color: #fa5400;
}
.radio input{
	display: none;
}
.state_item span{
	color: #fa5400;
}

.order_list{
	font-size: 14px;
	margin: 0 20px;
}
.order_list dt{
	height: 40px;
	line-height: 40px;
	background: #f5f5f5;
}
.order_list>dt{
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-bottom: 10px;
}
.order_list>dt .product_name{
	width: 155px;
	margin-right: 348px;
}
.order_list .product_num{
	width: 88px;
	margin-right: 50px;
}
.order_list .product_price{
	width: 88px;
	margin-right: 60px;
}
.order_list .product_state{
	width: 88px;
}
.product_state a{
	display: block;
	margin-top: 10px;
}
.order_item dt{
	padding-left: 22px;
}
.order_item dd{
	text-align: center;
	line-height: 24px;
	padding-top: 30px;
	margin: 0 0 30px 10px;
}
.order_item dd+dd{
	border-top: solid 1px #e5e5e5;
}
.order_item .product_price{
	color: #fa5400;
}
.order_item .order_time{
	font-weight: 700;
	margin-right: 10px;
}
.order_item .order_name{
	width: 380px;
	margin-right: 112px;
}
.order_name .order_img{
	width: 103px;
	height: 101px;
	border: solid 1px #d1d1d1;
	text-align: center;
	margin-right: 10px;
}
.order_img img{
	width: auto;
	max-width: 100%;
}
.order_name .order_title{
	width: 263px;
	text-align: left;
}
.order_title:hover,
.product_state a:hover{
	text-decoration: underline;
	color: #fa5400;
}

/*
 * 分页
 */
.paging{
	text-align: center;
	margin-top: 30px;
}
.page_container{
	display: inline-block;
	background: #fff;
	margin: 0px auto;
}
.page_container a{
	color: #333;
}
.page_container a,
.page_container span{
	height: 24px;
	text-align: center;
	line-height: 24px;
	float: left;
}
.page_container .current{
	width: 52px;
	background: #fff;
	color: #ff7e21;
	border: none;
	font-size: 20px;
}
.page_container .hiding{
	margin: 0 16px;
}
.page_container .tcdNumber,
.page_container .hiding{
	width: 52px;
	font-size: 20px;
	color: #333;
}
.page_container .hiding{
	border: none;
	background: #fff;
}



/*
 * 回到顶部
 */
#goTop{
	width: 46px;
	height: 46px;
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	color: #fff;
	background: #d1d1d1;
	position: absolute;
	bottom: 31px;
	right: -76px;
	z-index: 2;
}

/*
 * footer
 */
#bottomFrame{
	height: 260px;
	background: #f5f5f5;
}