body{
	color: #333;
	font-size: 16px;
}
iframe{
	width: 100%;
	border: none;
}
.cover{
	width: 1200px;
	margin: 0 auto;
}
/*
 * 背景
 */
.bg{
	width: 100%;
	height: 1390px;
	background: #f5f5f5;
	position: absolute;
	left: 0;
	top: 170px;
	z-index: -1;
}
/*
 * 主页信息
 * tab栏
 */
.home_page{
	margin: 30px auto;
	position: relative;
}
.menu{
	width: 258px;
	color: #111;
	font-size: 20px;
	background: #fff;
	border: solid 1px #e5e5e5;
	margin-right: 20px;
}
.menu .active .iconfont{
	color: #fa5400;
}
.menu>li{
	border-bottom: solid 1px #e5e5e5;
}
.menu>li:last-child{
	border-bottom: none;
}
.menu dl{
	padding-top: 30px;
	padding-bottom: 20px;
}
.menu dd:hover{
	background: #f5f5f5;
}
.menu dl dt{
	line-height: 1;
	padding-left: 30px;
	margin-bottom: 25px;
}
.menu dl dd{
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
}
.menu dl dd:last-child{
	margin-bottom: 0;
}
.menu dl a{
	display: block;
	padding: 0 30px;
}
.menu dd .iconfont{
	width: 30px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 30px;
	color: #999;
    vertical-align: middle;
    display: inline-block;
	margin-right: 30px;
}
.menu dd .giant{
	font-size: 23px;
	line-height: 35px;
}
.menu dd .little_big{
	font-size: 28px;
    line-height: 32px;
}
.menu dd .big{
    font-size: 25px;
    line-height: 38px;
}
.menu dd .small{
	font-size: 38px;
    text-indent: -3px;
    line-height: 34px;
}
.menu dd .little_small{
	font-size: 36px;
    text-indent: -2px;
}
/*
 * 右侧内容
 */
.container{
	width: 918px;
	height: 1468px;
	color: #111;
	line-height: 1;
	border: solid 1px #dfdfdf;
	box-shadow: 0 0 3px #999;
	background: #fff;
	margin-bottom: 35px;
}
.container h4{
	font-size: 18px;
	font-weight: 500;
	border-bottom: solid 1px #e5e5e5;
	padding-bottom: 10px;
	margin: 20px 30px 10px;
}
.tip{
	font-size: 14px;
	margin-left: 30px;
}
.ask{
	width: 860px;
	height: 40px;
	line-height: 40px;
	border: solid 1px #e5e5e5;
	padding: 34px 0;
	margin: 30px;
}
.ask .icon{
    width: 40px;
    height: 40px;
	font-size: 40px;
	line-height: 44px;
	font-weight: 700;
    display: inline-block;
	margin: 0 24px 0 40px;
}
.ask .cont{
	font-size: 20px;
}
.set_btn{
	width: 112px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	background: #fa5400;
	margin-right: 30px;
}

/*
 * footer
 */
#bottomFrame{
	height: 260px;
	background: #f5f5f5;
}