body{
	color: #333;
	font-size: 16px;
}
iframe{
	width: 100%;
	border: none;
}
.cover{
	width: 1200px;
	margin: 0 auto;
}
/*
 * 背景
 */
.bg{
	width: 100%;
	height: 1390px;
	background: #f5f5f5;
	position: absolute;
	left: 0;
	top: 170px;
	z-index: -1;
}
/*
 * 主页信息
 * tab栏
 */
.home_page{
	margin: 30px auto;
	position: relative;
}
/*
 * 左侧菜单
 */
.menu{
	width: 258px;
	color: #111;
	font-size: 20px;
	background: #fff;
	border: solid 1px #e5e5e5;
	margin-right: 20px;
}
.menu .active .iconfont{
	color: #fa5400;
}
.menu>li{
	border-bottom: solid 1px #e5e5e5;
}
.menu>li:last-child{
	border-bottom: none;
}
.menu dl{
	padding-top: 30px;
	padding-bottom: 20px;
}
.menu dd:hover{
	background: #f5f5f5;
}
.menu dl dt{
	line-height: 1;
	padding-left: 30px;
	margin-bottom: 25px;
}
.menu dl dd{
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
}
.menu dl dd:last-child{
	margin-bottom: 0;
}
.menu dl a{
	display: block;
	padding: 0 30px;
}
.menu dd .iconfont{
	width: 30px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 30px;
	color: #999;
    vertical-align: middle;
    display: inline-block;
	margin-right: 30px;
}
.menu dd .giant{
	font-size: 23px;
	line-height: 35px;
}
.menu dd .little_big{
	font-size: 28px;
    line-height: 32px;
}
.menu dd .big{
    font-size: 25px;
    line-height: 38px;
}
.menu dd .small{
	font-size: 38px;
    text-indent: -3px;
    line-height: 34px;
}
.menu dd .little_small{
	font-size: 36px;
    text-indent: -2px;
}
/*
 * 右侧内容
 */
.container{
	width: 918px;
	height: 1468px;
	color: #111;
	line-height: 1;
	border: solid 1px #dfdfdf;
	box-shadow: 0 0 3px #999;
	background: #fff;
	margin-bottom: 35px;
}
.container h4{
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
	border-bottom: solid 1px #e5e5e5;
	padding-bottom: 10px;
	margin: 20px 30px 70px;
}
.container .go{
	color: #666;
}
.container .go:hover{
	color: #111;
}
.hide{
	display: none;
}
.active{
	display: block;
}
.fail{
	width: 384px;
	min-height: 30px;
	font-size: 12px;
	color: #fa5400;
	line-height: 30px;
	margin-left: 110px;
}
.fail_tip{
	color: #fa5400;
	font-size: 14px;
	background: #faddd9;
	visibility: hidden;
	margin-bottom: 8px;
	margin-left: 310px;
}
.notice{
	color: #fa5400;
    line-height: 30px;
    background: #faddd9;
    visibility: hidden;
    display: inline-block;
    padding: 0 15px;
}
.sussess_tip{
	color: #6fd63c;
	background: #e0fdd1;
}
.fail_tip i,
.notice i{
	font-size: 18px;
    vertical-align: top;
    display: inline-block;
	margin: 0 4px;
}
.mail_fail{
	margin-bottom: 10px;
}

.step_num{
	width: 518px;
	height: 14px;
	font-size: 28px;
	font-family: impact;
	padding-top: 14px;
	margin: 0 auto 16px;
	position: relative;
}
.step{
    height: 28px;
	font-size: 34px;
    line-height: 28px;
	color: #999;
	background: #fff;
	padding: 0 4px;
	position: absolute;
	top: 0px;
	z-index: 2;
}
.step.pass{
	color: #fa5400;
}
.first_step{
	left: 26px;
}
.second_step{
	left: 238px;
}
.third_step{
	right: 22px;
}
.middle-line{
	width: 100%;
	height: 1px;
	border: none;
	background: #d1d1d1;
}
.step_name{
	width: 518px;
	margin: 0 auto 50px;
}
.step_text{
	width: 82px;
	color: #999;
	text-align: center;
}
.step_text.pass{
	color: #333;
}
.first_name{
	margin-left: 4px;
	margin-right: 132px;
}
.third_name{
	margin-right: 2px;
}

.container form{
	width: 518px;
	margin: 0 auto;
}
.info_name{
	width: 110px;
	text-align: right;
}
.code{
	line-height: 40px;
}
.code i{
	width: 20px;
	text-align: center;
	color: #fa5400;
    display: inline-block;
}
.info_value input{
	width: 382px;
	height: 38px;
	line-height: 38px;
	text-indent: 10px;
	border: solid 1px #e5e5e5;
}
.send_mail{
	width: 112px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	color: #fff;
	background: #666;
	cursor: not-allowed;
	opacity: .35;
	filter: alpha(opacity=0.35);
	display: block;
	margin: 0 auto;
}

/*
 * 激活邮箱
 */
.container .tip{
	text-align: center;
	margin-bottom: 40px;
}
.tip .send_again{
	text-decoration: underline;
}
.hidden_btn{
	cursor: text;
	border: none;
	background: none;
	outline: none;
	display: none;
}

/*
 * footer
 */
#bottomFrame{
	height: 260px;
	background: #f5f5f5;
}