body{
	color: #333;
	font-size: 16px;
}
iframe{
	width: 100%;
	border: none;
}
.cover{
	width: 1200px;
	margin: 0 auto;
}
/*
 * 背景
 */
.bg{
	width: 100%;
	height: 1390px;
	background: #f5f5f5;
	position: absolute;
	left: 0;
	top: 178px;
	z-index: -1;
}
/*
 * 主页信息
 * tab栏
 */
.home_page{
	margin-top: 40px;
	margin-bottom: 30px;
	position: relative;
}
.menu{
	width: 258px;
	color: #111;
	font-size: 20px;
	background: #fff;
	border: solid 1px #e5e5e5;
	margin-right: 20px;
}
.menu .active .iconfont{
	color: #fa5400;
}
.menu>li{
	border-bottom: solid 1px #e5e5e5;
}
.menu>li:last-child{
	border-bottom: none;
}
.menu dl{
	padding-top: 30px;
	padding-bottom: 20px;
}
.menu dd:hover{
	background: #f5f5f5;
}
.menu dl dt{
	line-height: 1;
	padding-left: 30px;
	margin-bottom: 25px;
}
.menu dl dd{
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
}
.menu dl dd:last-child{
	margin-bottom: 0;
}
.menu dl a{
	display: block;
	padding: 0 30px;
}
.menu dd .iconfont{
	width: 30px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 30px;
	color: #999;
    vertical-align: middle;
    display: inline-block;
	margin-right: 30px;
}
.menu dd .giant{
	font-size: 23px;
	line-height: 35px;
}
.menu dd .little_big{
	font-size: 28px;
    line-height: 32px;
}
.menu dd .big{
    font-size: 25px;
    line-height: 38px;
}
.menu dd .small{
	font-size: 38px;
    text-indent: -3px;
    line-height: 34px;
}
.menu dd .little_small{
	font-size: 36px;
    text-indent: -2px;
}
/*
 * 右侧内容
 */
.container{
	width: 918px;
	height: 1468px;
	color: #111;
	border: solid 1px #dfdfdf;
	box-shadow: 0 0 3px #999;
	background: #fff;
	margin-bottom: 35px;
}
/*
 * 开通电铺
 */
.hide{
	display: none;
}
.hide.active{
	display: block;
}
.container h4{
	font-size: 20px;
	font-weight: 500;
	line-height: 1;
	border-bottom: solid 1px #e5e5e5;
	padding-bottom: 10px;
	margin: 20px 30px;
}
.ask{
	width: 860px;
	height: 108px;
	border: solid 1px #e5e5e5;
	margin: 30px;
}
.ask .icon{
    width: 35px;
    height: 35px;
	font-size: 35px;
	line-height: 38px;
    display: inline-block;
	margin: 35px 30px 36px 35px;
}
.ask .cont{
	margin-top: 25px;
}
.cont h5{
	font-size: 20px;
	line-height: 1;
	font-weight: 500;
	margin-bottom: 18px;
}
.cont p{
	font-size: 14px;
	color: #666;
}
.cont .order_number{
	width: 18px;
	height: 18px;
	font-size: 16px;
	text-align: center;
	line-height: 18px;
	border: solid 1px #666;
	border-radius: 50%;
	display: inline-block;
	margin-right: 6px;
}
.set_btn{
	width: 112px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	color: #fff;
	background: #fa5400;
	margin-top: 36px;
	margin-right: 30px;
}
/*
 * 基本信息
 */
.basic_info{
	margin-top: 32px;
	margin-left: 40px;
}
.basic_info label{
	line-height: 1;
	display: block;
	margin-bottom: 10px;
}
.basic_info .small{
	width: 438px;
	height: 34px;
	line-height: 34px;
	text-indent: 10px;
	border: solid 1px #e5e5e5;
	margin-bottom: 20px;
}
.basic_info .big{
	width: 826px;
	height: 114px;
	resize: none;
	line-height: 26px;
	text-indent: 10px;
	border: solid 1px #d1d1d1 ;
	margin-bottom: 20px;
}
.information dt{
	font-size: 18px;
	line-height: 1;
	font-weight: 700;
	margin-bottom: 20px;
}
.confirm{
	width: 112px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	color: #fff;
	background: #fa5400;
	display: block;
	margin: 10px auto 0;
}
/*
 * 开通成功
 */
.set_up{
	font-size: 20px;
	text-align: center;
	line-height: 1;
	margin-top: 30px;
}
.set_up h4{
	text-align: left;
	margin-bottom: 28px;
}
.successed h4{
	margin-bottom: 50px;
}
.set_up h2{
	font-size: 24px;
	margin-bottom: 50px;
}
.set_up h2 .iconfont{
	font-size: 64px;
	color: #fa5400;
	margin-right: 20px;
}
.set_up p{
	color: #333;
	line-height: 1;
	margin-bottom: 50px;
}
.set_up a{
	color: #666;
	border-bottom: solid 1px #666;
	padding-bottom: 10px;
}
/*
 * footer
 */
#bottomFrame{
	height: 260px;
	background: #f5f5f5;
}