

input[type=text],
input[type=password],
input[type=number]{
	border: solid 1px #d1d1d1;
}
/*input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus{
	border: solid 1px #a0a0a2;
}*/
/*input.valid{
	border: solid 1px #d1d1d1;
	background: none;
}
input.valid:focus{
	border: solid 1px #a0a0a2;
	background: none;
}

input.error{
	border: solid 1px #ffa940;
	background: #fff1e1;
}
input.error:focus{
	border: solid 1px transparent;
	background: #fff1e1;
}*/
.fail{
	color: #fa5400;
	font-size: 12px;
	line-height: 1;
}
input.related_child{
	border: none;
}
/*input.related_child:focus{
	border: none;
}*/
.related_parent{
	border: solid 1px #d1d1d1;
}
/*.related_parent:focus{
	border: solid 1px #a0a0a2;
}*/