<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>芯联-物流信息</title>
		<link rel="stylesheet" type="text/css" href="/css/framework/reset.css"/>
		<link rel="stylesheet" type="text/css" href="/css/views/domain/logistics.css"/>
	</head>
	<body>
		<section class="cover">
			<h2 class="info_title">物流信息</h2>
			<ul class="logistics">
				<li><span class="info_name">发货方式：</span><span class="info_value">快递</span></li>
				<li><span class="info_name">物流公司：</span><span class="info_value">中通快递</span></li>
				<li><span class="info_name">运单号码：</span><span class="info_value">463337463886</span></li>
				<li>
					<span class="info_name">物流跟踪：</span>
					<ul class="logistics_detail" id="box">
						<li class="level_first">
							<div class="logistics_info">卖家发货</div>
							<div class="logistics_time">2017-11-11&ensp;12:12:09</div>
							<span class="ball">发货</span>
						</li>
						<li class="level_second">
							<div class="logistics_info">快件已从&ensp;临沂中盛&ensp;发出</div>
							<div class="logistics_time">2017-11-11&ensp;17:25:55</div>
							<span class="ball"></span>
						</li>
						<li class="level_second">
							<div class="logistics_info">快件到达&ensp;南宁中转</div>
							<div class="logistics_time">2017-11-11&ensp;17:25:55</div>
							<span class="ball"></span>
						</li>
						<li class="level_second">
							<div class="logistics_info">南宁琅西&ensp;的&ensp;颜情&ensp;正在派件,请保持电话畅通哦!</div>
							<div class="logistics_time">2017-11-11&ensp;17:25:55</div>
							<span class="ball"></span>
						</li>
						<li class="level_first last">
							<div class="logistics_info">快件已签收，签收人:本人,感谢您使用中通快递，期待再次为您服务！</div>
							<div class="logistics_time">2017-11-11&ensp;17:25:55</div>
							<span class="ball">收货</span>
						</li>
						<div class="logistics_border"></div>
					</ul>
				</li>
			</ul>
			<h2>收货地址</h2>
			<div class="address">
				陶宇初，13613956462，广东省&emsp;深圳市&emsp;宝安区，广东省深圳市宝安区西乡黄田鸿丰华创意园4楼<span class="post_code">524000</span>
			</div>
		</section>
	</body>
</html>
