<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>芯联-订单信息</title>
		<link rel="stylesheet" type="text/css" href="/css/framework/reset.css"/>
		<link rel="stylesheet" type="text/css" href="/css/views/domain/order_info.css"/>
	</head>
	<body>
		<section class="cover">
			<h2>卖家信息</h2>
			<div class="seller_info">
				<div class="info_half clearfix">
					<div class="info_left f_l">
						昵称：<span class="nick_name">张三</span>&ensp;<i class="iconfont">&#xe66f;</i>&ensp;<a href="javascript:void(0);" class="call_me">联系我</a>
					</div>
					<div class="info_right f_l">
						联系电话：<span class="phone">183****6666</span>
					</div>
				</div>
				<div class="info_half clearfix">
					<div class="info_left f_l">
						城市：<span class="city">广东&ensp;深圳</span>
					</div>
					<div class="info_right f_l">
						公司名称：<span class="company">千瑞科技有限公司</span>
					</div>
				</div>
			</div>
			<h2>标的物信息</h2>
			<div class="corpores">
				<div class="corpores_info clearfix">
					<div class="corpores_order f_l">
						订单编号：<span>88431360666414637</span>
					</div>
					<div class="corpores_time f_l">
						创建时间：<span>2017-11-16&ensp;10:45:25</span>
					</div>
				</div>
				<ul>
					<li class="corpore clearfix">
						<div class="corpore_img f_l">
							<img src="/img/order_01.png"/>
						</div>
						<div class="corpore_title f_l">
							SN8F5708&ensp;SONIX单片机IC&ensp;可重复烧写8051核一级代理原装供应
						</div>
						<div class="corpore_num f_l">200PCS</div>
					</li>
					<li class="corpore clearfix">
						<div class="corpore_img f_l">
							<img src="/img/order_01.png"/>
						</div>
						<div class="corpore_title f_l">
							SN8F5708&ensp;SONIX单片机IC&ensp;可重复烧写8051核一级代理原装供应
						</div>
						<div class="corpore_num f_l">200PCS</div>
					</li>
				</ul>
				<div class="all_corpore clearfix">
					<div class="sub_cont f_r">
						标的物总额<span class="corpore_price">¥3000.00</span>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
